<!DOCTYPE html>
<html ng-app="bixbyte">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Bixbyte SMS</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" href="css/json-formatter.min.css">
    <link href="css/style.css" rel="stylesheet">   
    

    
  </head>
  <body  ng-controller="framifySMS">
   
    <ion-pane>
      <ion-header-bar class="bar-positive">
        <h1 class="title" style="font-family:courier; font-weight:bold; ">@framify SMS client</h1>
      </ion-header-bar>
      <ion-content  >

      
        <div class="list list-inset" >
          <a class="item item-divider item-positive item-icon-left" href="#">  
            <i class="icon ion-key"></i>
            <i > API/AUTHENTICATION KEY</i>
          </a>
          <a class="item item-divider item-clear item-icon-left" href="#">  
            <i></i>
            <i style="color:green">{{storage.apiKey}}</i> 
          </a>
        </div>

        <!-- ng-init="app.init()"  -->
        <div class="list list-inset" >
          <a class="item item-divider item-positive item-icon-left" href="#">  
            <i class="icon ion-chatbubble-working"></i>
            <i><!--{{sms.failed.length}}--></i> PENDING MESSAGES 
          </a>

          <div class="">
            <!--{{sms.failed}}-->
          </div>
          <a class="item item-icon-left" href="#" ng-repeat="failed in sms.failed" ng-if="failed.password==storage.apiKey||failed.sms.password==storage.apiKey" >
               <i class="icon ion-person"></i>
                {{ failed.telephone }}  
                <span class="item-note">{{failed.message || failed.sms.message }}</span>
                <span class="badge badge-assertive">
                  <i class="icon ion-cross"></i>
                </span>
          </a>
          
        </div>
        
        <div class="list list-inset">
          <a class="item item-divider item-positive item-icon-left" href="#">
             <i class="icon ion-chatbubble"></i>
             <i ><!--{{sms.sent.length}}--></i> SENT MESSAGES
          </a>
          <!--{{sms.sent}}-->
            <a class="item item-icon-left" href="#" ng-repeat="sent in sms.sent" ng-if="sent.password==storage.apiKey||sent.sms.password==storage.apiKey">
                <i class="icon ion-person"></i>
                {{ sent.telephone }}                 <span class="item-note">{{sent.message || sent.sms.message}}</span>
                <span class="badge badge-balanced">
                  <i class="icon ion-tick"></i>
                </span>
            </a>
            
          <div id="bottom"></div>
          
        </div>
        
      </ion-content>
    </ion-pane>
    
    
  </body>
  <!-- cordova scripts -->
    <script src="cordova.js"></script>
    
    <!-- SIGNUP MODAL -->
    <script id="my-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar-stable">
          <h1 class="title">Setup device</h1>
        </ion-header-bar>
        <ion-content>
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-ios-person-outline placeholder-icon"></i>
              <input 
              type="text" 
              placeholder="Username"
              ng-model="data.setup.username"
              ng-pattern="/^[a-z0-9_-]{3,50}$/i"
              >
            </label>
          </div>
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-ios-telephone-outline placeholder-icon"></i>
              <input type="tel" 
              placeholder="Telephone"
              ng-model="data.setup.telephone"
              ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/i"
              >
            </label>
          </div>
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-ios-email-outline placeholder-icon"></i>
              <input 
              type="email" 
              placeholder="Email"
              ng-model="data.setup.email"
              ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"
              >
            </label>
          </div>
          <div class="list list-inset">
            <!--{{data.setup}}-->
              <button 
                class="button button-block button-balanced" 
                ng-disabled="!data.setup.username||!data.setup.telephone||!data.setup.email"
                ng-click="registerApp()"
              >SIGNUP</button>
          </div>

        </ion-content>
      </ion-modal-view>
    </script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/ng-cordova.min.js"></script>

    <!-- json-formatter  -->
    <script src="js/json-formatter.min.js"></script>

    <!-- ng-storage  -->
    <script src="js/ngStorage.min.js"></script>

    <!-- app specific scripts -->
    <script src="js/socket.io.min.js"></script>
    <script src="js/jquery.min.js"></script>    
    <script src="js/app.js"></script>

    


</html>
